In [3]:
import pandas as pd

In [29]:
print(pd.__version__)

2.2.2

In [5]:
df = pd.read_csv('flights.csv')

In [6]:
pd.set_option('display.max_columns',100)

In [7]:
df.head(5)

,Unnamed: 0,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,1228.0,0.0,40.0,72.0,65.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4301,C5,20445,C5,N21144,4301,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,848.0,0.0,55.0,77.0,80.0,295.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4299,C5,20445,C5,N16170,4299,12206,1220605,32206,"Harlingen/San Benito, TX",TX,48,Texas,74,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,1636.0,0.0,47.0,70.0,82.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N21144,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,21.0,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,1547.0,0.0,57.0,90.0,77.0,376.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4296,C5,20445,C5,N11184,4296,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,11973,1197302,31973,"Gulfport/Biloxi, MS",MS,28,Mississippi,53,0.0,-1.0,1400-1459,16.0,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,1251.0,6.0,49.0,70.0,76.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4295,C5,20445,C5,N17146,4295,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1100-1159,19.0,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0

In [54]:
df.index

RangeIndex(start=0, stop=4078318, step=1)

In [56]:
df.columns

Index(['Unnamed: 0', 'FlightDate', 'Airline', 'Origin', 'Dest', 'Cancelled',
       'Diverted', 'CRSDepTime', 'DepTime', 'DepDelayMinutes', 'DepDelay',
       'ArrTime', 'ArrDelayMinutes', 'AirTime', 'CRSElapsedTime',
       'ActualElapsedTime', 'Distance', 'Year', 'Quarter', 'Month',
       'DayofMonth', 'DayOfWeek', 'Marketing_Airline_Network',
       'Operated_or_Branded_Code_Share_Partners', 'DOT_ID_Marketing_Airline',
       'IATA_Code_Marketing_Airline', 'Flight_Number_Marketing_Airline',
       'Operating_Airline', 'DOT_ID_Operating_Airline',
       'IATA_Code_Operating_Airline', 'Tail_Number',
       'Flight_Number_Operating_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'DestCityName',
       'DestState', 'DestStateFips', 'DestStateName', 'DestWac', 'DepDel15',
       'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut', 'WheelsOff',
       'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrDelay', 'ArrDel15',
       'ArrivalDelayGroups', 'ArrTimeBlk', 'DistanceGroup',
       'DivAirportLandings'],
      dtype='object')

In [58]:
df.dtypes

Unnamed: 0              int64
FlightDate             object
Airline                object
Origin                 object
Dest                   object
                       ...
ArrDel15              float64
ArrivalDelayGroups    float64
ArrTimeBlk             object
DistanceGroup           int64
DivAirportLandings      int64
Length: 62, dtype: object

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4078318 entries, 0 to 4078317
Data columns (total 62 columns):
 #   Column                                   Dtype
---  ------                                   -----
 0   Unnamed: 0                               int64
 1   FlightDate                               object
 2   Airline                                  object
 3   Origin                                   object
 4   Dest                                     object
 5   Cancelled                                bool
 6   Diverted                                 bool
 7   CRSDepTime                               int64
 8   DepTime                                  float64
 9   DepDelayMinutes                          float64
 10  DepDelay                                 float64
 11  ArrTime                                  float64
 12  ArrDelayMinutes                          float64
 13  AirTime                                  float64
 14  CRSElapsedTime                           float64
 15  ActualElapsedTime                        float64
 16  Distance                                 float64
 17  Year                                     int64
 18  Quarter                                  int64
 19  Month                                    int64
 20  DayofMonth                               int64
 21  DayOfWeek                                int64
 22  Marketing_Airline_Network                object
 23  Operated_or_Branded_Code_Share_Partners  object
 24  DOT_ID_Marketing_Airline                 int64
 25  IATA_Code_Marketing_Airline              object
 26  Flight_Number_Marketing_Airline          int64
 27  Operating_Airline                        object
 28  DOT_ID_Operating_Airline                 int64
 29  IATA_Code_Operating_Airline              object
 30  Tail_Number                              object
 31  Flight_Number_Operating_Airline          int64
 32  OriginAirportID                          int64
 33  OriginAirportSeqID                       int64
 34  OriginCityMarketID                       int64
 35  OriginCityName                           object
 36  OriginState                              object
 37  OriginStateFips                          int64
 38  OriginStateName                          object
 39  OriginWac                                int64
 40  DestAirportID                            int64
 41  DestAirportSeqID                         int64
 42  DestCityMarketID                         int64
 43  DestCityName                             object
 44  DestState                                object
 45  DestStateFips                            int64
 46  DestStateName                            object
 47  DestWac                                  int64
 48  DepDel15                                 float64
 49  DepartureDelayGroups                     float64
 50  DepTimeBlk                               object
 51  TaxiOut                                  float64
 52  WheelsOff                                float64
 53  WheelsOn                                 float64
 54  TaxiIn                                   float64
 55  CRSArrTime                               int64
 56  ArrDelay                                 float64
 57  ArrDel15                                 float64
 58  ArrivalDelayGroups                       float64
 59  ArrTimeBlk                               object
 60  DistanceGroup                            int64
 61  DivAirportLandings                       int64
dtypes: bool(2), float64(18), int64(24), object(18)
memory usage: 1.8+ GB

In [62]:
df.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4078318 entries, 0 to 4078317
Columns: 62 entries, Unnamed: 0 to DivAirportLandings
dtypes: bool(2), float64(18), int64(24), object(18)
memory usage: 1.8+ GB

In [64]:
df.describe()

,Unnamed: 0,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginStateFips,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestStateFips,DestWac,DepDel15,DepartureDelayGroups,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,DistanceGroup,DivAirportLandings
count,4.078318e+06,4.078318e+06,3.957885e+06,3.957823e+06,3.957823e+06,3.954079e+06,3.944916e+06,3.944916e+06,4.078318e+06,3.944916e+06,4.078318e+06,4078318.0,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,4.078318e+06,3.957823e+06,3.957823e+06,3.955652e+06,3.955652e+06,3.954076e+06,3.954076e+06,4.078318e+06,3.944916e+06,3.944916e+06,3.944916e+06,4.078318e+06,4.078318e+06
mean,2.920989e+05,1.329587e+03,1.334374e+03,1.601494e+01,1.309049e+01,1.457886e+03,1.578307e+01,1.110075e+02,1.413211e+02,1.358624e+02,7.978657e+02,2022.0,1.741207e+00,4.083803e+00,1.571131e+01,4.005566e+00,1.983101e+04,2.562115e+03,1.999122e+04,2.562145e+03,1.265994e+04,1.265998e+06,3.175708e+04,2.746504e+01,5.399368e+01,1.265990e+04,1.265994e+06,3.175704e+04,2.746550e+01,5.399338e+01,2.184625e-01,2.141248e-01,1.697375e+01,1.356576e+03,1.455073e+03,7.894387e+00,1.486058e+03,7.528486e+00,2.164715e-01,-6.256103e-02,3.663516e+00,3.685098e-03
std,1.695040e+05,4.904801e+02,5.056219e+02,5.231498e+01,5.332016e+01,5.431841e+02,5.198424e+01,6.996246e+01,7.179635e+01,7.185501e+01,5.914742e+02,0.0,7.037563e-01,1.998918e+00,8.760122e+00,2.007050e+00,2.760907e+02,1.745826e+03,3.767694e+02,1.745873e+03,1.522713e+03,1.522711e+05,1.320296e+03,1.670547e+01,2.664820e+01,1.522718e+03,1.522716e+05,1.320286e+03,1.670567e+01,2.664849e+01,4.132030e-01,2.345973e+00,9.495407e+00,5.075580e+02,5.378428e+02,6.663118e+00,5.185078e+02,5.524625e+01,4.118393e-01,2.487442e+00,2.320848e+00,1.141331e-01
min,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,-7.800000e+01,1.000000e+00,0.000000e+00,8.000000e+00,-4.800000e+01,1.400000e+01,3.100000e+01,2022.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.939300e+04,1.000000e+00,1.939300e+04,1.000000e+00,1.013500e+04,1.013506e+06,3.007000e+04,1.000000e+00,1.000000e+00,1.013500e+04,1.013506e+06,3.007000e+04,1.000000e+00,1.000000e+00,0.000000e+00,-2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,-1.000000e+02,0.000000e+00,-2.000000e+00,1.000000e+00,0.000000e+00
25%,1.456540e+05,9.140000e+02,9.170000e+02,0.000000e+00,-5.000000e+00,1.046000e+03,0.000000e+00,6.000000e+01,8.900000e+01,8.300000e+01,3.680000e+02,2022.0,1.000000e+00,2.000000e+00,8.000000e+00,2.000000e+00,1.979000e+04,1.105000e+03,1.979000e+04,1.105000e+03,1.129200e+04,1.129202e+06,3.069300e+04,1.200000e+01,3.300000e+01,1.129200e+04,1.129202e+06,3.069300e+04,1.200000e+01,3.300000e+01,0.000000e+00,-1.000000e+00,1.100000e+01,9.320000e+02,1.044000e+03,4.000000e+00,1.103000e+03,-1.400000e+01,0.000000e+00,-1.000000e+00,2.000000e+00,0.000000e+00
50%,2.913080e+05,1.320000e+03,1.325000e+03,0.000000e+00,-2.000000e+00,1.500000e+03,0.000000e+00,9.400000e+01,1.240000e+02,1.190000e+02,6.430000e+02,2022.0,2.000000e+00,4.000000e+00,1.600000e+01,4.000000e+00,1.980500e+04,2.228000e+03,1.997700e+04,2.228000e+03,1.288900e+04,1.288903e+06,3.145300e+04,2.700000e+01,4.400000e+01,1.288900e+04,1.288903e+06,3.145300e+04,2.700000e+01,4.400000e+01,0.000000e+00,-1.000000e+00,1.500000e+01,1.338000e+03,1.456000e+03,6.000000e+00,1.513000e+03,-5.000000e+00,0.000000e+00,-1.000000e+00,3.000000e+00,0.000000e+00
75%,4.369620e+05,1.735000e+03,1.744000e+03,1.100000e+01,1.100000e+01,1.914000e+03,1.000000e+01,1.410000e+02,1.710000e+02,1.670000e+02,1.035000e+03,2022.0,2.000000e+00,6.000000e+00,2.300000e+01,6.000000e+00,1.997700e+04,3.877000e+03,2.037800e+04,3.877000e+03,1.402700e+04,1.402702e+06,3.246700e+04,4.200000e+01,8.100000e+01,1.402700e+04,1.402702e+06,3.246700e+04,4.200000e+01,8.100000e+01,0.000000e+00,0.000000e+00,1.900000e+01,1.758000e+03,1.909000e+03,9.000000e+00,1.920000e+03,1.000000e+01,0.000000e+00,0.000000e+00,5.000000e+00,0.000000e+00
max,6.187890e+05,2.359000e+03,2.400000e+03,7.223000e+03,7.223000e+03,2.400000e+03,7.232000e+03,7.270000e+02,6.900000e+02,7.640000e+02,5.095000e+03,2022.0,3.000000e+00,7.000000e+00,3.100000e+01,7.000000e+00,2.043600e+04,9.680000e+03,2.050000e+04,9.680000e+03,1.686900e+04,1.686901e+06,3.610100e+04,7.800000e+01,9.300000e+01,1.686900e+04,1.686901e+06,3.610100e+04,7.800000e+01,9.300000e+01,1.000000e+00,1.200000e+01,2.210000e+02,2.400000e+03,2.400000e+03,2.900000e+02,2.359000e+03,7.232000e+03,1.000000e+00,1.200000e+01,1.100000e+01,9.000000e+00

In [72]:
df['Airline'].describe()

count                    4078318
unique                        21
top       Southwest Airlines Co.
freq                      731925
Name: Airline, dtype: object

In [76]:
df.shape, len(df)

((4078318, 62), 4078318)

In [80]:
df[['OriginWac',	'DestAirportID','DestAirportSeqID','DestCityMarketID']]

         OriginWac  DestAirportID  DestAirportSeqID  DestCityMarketID
0               82          11292           1129202             30325
1               74          12266           1226603             31453
2               82          11292           1129202             30325
3               74          11973           1197302             31973
4               82          11292           1129202             30325
...            ...            ...               ...               ...
4078313         72          11618           1161802             31703
4078314         36          11618           1161802             31703
4078315         22          13930           1393007             30977
4078316         21          14122           1412202             30198
4078317         21          14492           1449202             34492

[4078318 rows x 4 columns]

In [90]:
df.columns[61:]

Index(['DivAirportLandings'], dtype='object')

In [110]:
[c for c in df.columns if 'Time' in c]

['CRSDepTime',
 'DepTime',
 'ArrTime',
 'AirTime',
 'CRSElapsedTime',
 'ActualElapsedTime',
 'DepTimeBlk',
 'CRSArrTime',
 'ArrTimeBlk']

In [112]:
df[[c for c in df.columns if 'Time' in c]]

,CRSDepTime,DepTime,ArrTime,AirTime,CRSElapsedTime,ActualElapsedTime,DepTimeBlk,CRSArrTime,ArrTimeBlk
0,1133,1123.0,1228.0,40.0,72.0,65.0,1100-1159,1245,1200-1259
1,732,728.0,848.0,55.0,77.0,80.0,0700-0759,849,0800-0859
2,1529,1514.0,1636.0,47.0,70.0,82.0,1500-1559,1639,1600-1659
3,1435,1430.0,1547.0,57.0,90.0,77.0,1400-1459,1605,1600-1659
4,1135,1135.0,1251.0,49.0,70.0,76.0,1100-1159,1245,1200-1259
...,...,...,...,...,...,...,...,...,...
4078313,1949,2014.0,234.0,NaN,185.0,NaN,1900-1959,2354,2300-2359
4078314,1733,1817.0,NaN,NaN,129.0,NaN,1700-1759,1942,1900-1959
4078315,1700,2318.0,59.0,135.0,158.0,161.0,1700-1759,1838,1800-1859
4078316,2129,2322.0,939.0,NaN,86.0,NaN,2100-2159,2255,2200-2259
4078317,1154,1148.0,1556.0,NaN,99.0,NaN,1100-1159,1333,1300-1359

In [114]:
df.select_dtypes('int')

,Unnamed: 0,CRSDepTime,Year,Quarter,Month,DayofMonth,DayOfWeek,DOT_ID_Marketing_Airline,Flight_Number_Marketing_Airline,DOT_ID_Operating_Airline,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginStateFips,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestStateFips,DestWac,CRSArrTime,DistanceGroup,DivAirportLandings
0,0,1133,2022,2,4,4,1,19977,4301,20445,4301,11921,1192102,31921,8,82,11292,1129202,30325,8,82,1245,1,0
1,1,732,2022,2,4,4,1,19977,4299,20445,4299,12206,1220605,32206,48,74,12266,1226603,31453,48,74,849,2,0
2,2,1529,2022,2,4,4,1,19977,4298,20445,4298,11413,1141307,30285,8,82,11292,1129202,30325,8,82,1639,2,0
3,3,1435,2022,2,4,4,1,19977,4296,20445,4296,12266,1226603,31453,48,74,11973,1197302,31973,28,53,1605,2,0
4,4,1135,2022,2,4,4,1,19977,4295,20445,4295,11413,1141307,30285,8,82,11292,1129202,30325,8,82,1245,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4078313,590537,1949,2022,1,3,31,4,19977,3621,20452,3621,13495,1349505,33495,22,72,11618,1161802,31703,34,21,2354,5,1
4078314,590538,1733,2022,1,3,17,4,19977,3437,20452,3437,11057,1105703,31057,37,36,11618,1161802,31703,34,21,1942,3,0
4078315,590539,1700,2022,1,3,8,2,19977,3413,20452,3413,10257,1025702,30257,36,22,13930,1393007,30977,17,41,1838,3,0
4078316,590540,2129,2022,1,3,25,5,19977,3450,20452,3450,11618,1161802,31703,34,21,14122,1412202,30198,42,23,2255,2,1
4078317,590541,1154,2022,1,3,7,1,19977,3585,20452,3585,11618,1161802,31703,34,21,14492,1449202,34492,37,36,1333,2,1

In [118]:
type(df['Airline']), type(df[['Airline']])

(pandas.core.series.Series, pandas.core.frame.DataFrame)

In [124]:
df.iloc[:3,:3]

   Unnamed: 0  FlightDate                                    Airline
0           0  2022-04-04  Commutair Aka Champlain Enterprises, Inc.
1           1  2022-04-04  Commutair Aka Champlain Enterprises, Inc.
2           2  2022-04-04  Commutair Aka Champlain Enterprises, Inc.

In [134]:
df['Airline'] != 'Commutair Aka Champlain Enterprises, Inc.'

0          False
1          False
2          False
3          False
4          False
           ...
4078313     True
4078314     True
4078315     True
4078316     True
4078317     True
Name: Airline, Length: 4078318, dtype: bool

In [144]:
df.loc[(df['Airline'] == 'Commutair Aka Champlain Enterprises, Inc.') & (df['FlightDate']=='2022-04-04')]

,Unnamed: 0,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,1228.0,0.0,40.0,72.0,65.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4301,C5,20445,C5,N21144,4301,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,848.0,0.0,55.0,77.0,80.0,295.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4299,C5,20445,C5,N16170,4299,12206,1220605,32206,"Harlingen/San Benito, TX",TX,48,Texas,74,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,1636.0,0.0,47.0,70.0,82.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N21144,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,21.0,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,1547.0,0.0,57.0,90.0,77.0,376.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4296,C5,20445,C5,N11184,4296,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,11973,1197302,31973,"Gulfport/Biloxi, MS",MS,28,Mississippi,53,0.0,-1.0,1400-1459,16.0,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,1251.0,6.0,49.0,70.0,76.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4295,C5,20445,C5,N17146,4295,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1100-1159,19.0,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580285,580285,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAD,BUF,False,False,1255,1307.0,12.0,12.0,1419.0,3.0,63.0,81.0,72.0,283.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4306,C5,20445,C5,N12135,4306,12264,1226402,30852,"Washington, DC",VA,51,Virginia,38,10792,1079206,30792,"Buffalo, NY",NY,36,New York,22,0.0,0.0,1200-1259,5.0,1312.0,1415.0,4.0,1416,3.0,0.0,0.0,1400-1459,2,0
580286,580286,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DEN,FLG,False,False,1145,1143.0,0.0,-2.0,1211.0,0.0,69.0,107.0,88.0,503.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4305,C5,20445,C5,N16151,4305,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,11695,1169502,31695,"Flagstaff, AZ",AZ,4,Arizona,81,0.0,-1.0,1100-1159,14.0,1157.0,1206.0,5.0,1232,-21.0,0.0,-2.0,1200-1259,3,0
580287,580287,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HSV,IAD,False,False,846,837.0,0.0,-9.0,1129.0,0.0,88.0,119.0,112.0,596.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4304,C5,20445,C5,N12195,4304,12217,1221702,30255,"Huntsville, AL",AL,1,Alabama,51,12264,1226402,30852,"Washington, DC",VA,51,Virginia,38,0.0,-1.0,0800-0859,14.0,851.0,1119.0,10.0,1145,-16.0,0.0,-2.0,1100-1159,3,0
580288,580288,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",LFT,IAH,False,False,1900,1848.0,0.0,-12.0,2003.0,0.0,47.0,76.0,75.0,201.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4303,C5,20445,C5,N14203,4303,12951,1295106,32951,"Lafayette, LA",LA,22,Louisiana,72,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,1900-1959,16.0,1904.0,1951.0,12.0,2016,-13.0,0.0,-1.0,2000-2059,1,0
580289,580289,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1526,1521.0,0.0,-5.0,1645.0,8.0,46.0,71.0,84.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4302,C5,20445,C5,N17146,4302,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,29.0,1550.0,1636.0,9.0,1637,8.0,0.0,0.0,1600-1659,1,0

In [148]:
df.query('DepTime>2323')

,Unnamed: 0,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
1939,1939,2022-04-01,Southwest Airlines Co.,ATL,TPA,False,False,2220,2324.0,64.0,64.0,49.0,69.0,62.0,80.0,85.0,406.0,2022,2,4,1,5,WN,WN,19393,WN,42,WN,19393,WN,N292WN,42,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,15304,1530402,33195,"Tampa, FL",FL,12,Florida,33,1.0,4.0,2200-2259,17.0,2341.0,43.0,6.0,2340,69.0,1.0,4.0,2300-2359,2,0
2100,2100,2022-04-01,Southwest Airlines Co.,BNA,ECP,False,False,2225,2338.0,73.0,73.0,51.0,71.0,59.0,75.0,73.0,401.0,2022,2,4,1,5,WN,WN,19393,WN,101,WN,19393,WN,N927WN,101,10693,1069302,30693,"Nashville, TN",TN,47,Tennessee,54,11481,1148102,31481,"Panama City, FL",FL,12,Florida,33,1.0,4.0,2200-2259,11.0,2349.0,48.0,3.0,2340,71.0,1.0,4.0,2300-2359,2,0
2151,2151,2022-04-01,Southwest Airlines Co.,BNA,PHX,False,False,2215,2340.0,85.0,85.0,125.0,70.0,206.0,240.0,225.0,1449.0,2022,2,4,1,5,WN,WN,19393,WN,2709,WN,19393,WN,N8517F,2709,10693,1069302,30693,"Nashville, TN",TN,47,Tennessee,54,14107,1410702,30466,"Phoenix, AZ",AZ,4,Arizona,81,1.0,5.0,2200-2259,14.0,2354.0,120.0,5.0,15,70.0,1.0,4.0,0001-0559,6,0
2297,2297,2022-04-01,Southwest Airlines Co.,BWI,BUF,False,False,2240,2334.0,54.0,54.0,45.0,60.0,56.0,65.0,71.0,281.0,2022,2,4,1,5,WN,WN,19393,WN,673,WN,19393,WN,N272WN,673,10821,1082106,30852,"Baltimore, MD",MD,24,Maryland,35,10792,1079206,30792,"Buffalo, NY",NY,36,New York,22,1.0,3.0,2200-2259,11.0,2345.0,41.0,4.0,2345,60.0,1.0,4.0,2300-2359,2,0
2308,2308,2022-04-01,Southwest Airlines Co.,BWI,CMH,False,False,2205,2332.0,87.0,87.0,39.0,74.0,53.0,80.0,67.0,337.0,2022,2,4,1,5,WN,WN,19393,WN,1176,WN,19393,WN,N751SW,1176,10821,1082106,30852,"Baltimore, MD",MD,24,Maryland,35,11066,1106606,31066,"Columbus, OH",OH,39,Ohio,44,1.0,5.0,2200-2259,9.0,2341.0,34.0,5.0,2325,74.0,1.0,4.0,2300-2359,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4076073,588297,2022-03-24,Republic Airlines,EWR,MEM,False,False,2045,2350.0,185.0,185.0,155.0,188.0,147.0,182.0,185.0,946.0,2022,1,3,24,4,UA,UA_CODESHARE,19977,UA,3484,YX,20452,YX,N651RW,3484,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,13244,1324402,33244,"Memphis, TN",TN,47,Tennessee,54,1.0,12.0,2000-2059,33.0,23.0,150.0,5.0,2247,188.0,1.0,12.0,2200-2259,4,0
4076192,588416,2022-03-24,Republic Airlines,IAD,CMH,False,False,2203,2348.0,105.0,105.0,105.0,106.0,54.0,76.0,77.0,299.0,2022,1,3,24,4,UA,UA_CODESHARE,19977,UA,3615,YX,20452,YX,N728YX,3615,12264,1226402,30852,"Washington, DC",VA,51,Virginia,38,11066,1106606,31066,"Columbus, OH",OH,39,Ohio,44,1.0,7.0,2200-2259,13.0,1.0,55.0,10.0,2319,106.0,1.0,7.0,2300-2359,2,0
4076874,589098,2022-03-27,Republic Airlines,EWR,MHT,False,False,2059,2351.0,172.0,172.0,59.0,159.0,42.0,81.0,68.0,209.0,2022,1,3,27,7,UA,UA_CODESHARE,19977,UA,3567,YX,20452,YX,N721YX,3567,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,13296,1329604,30721,"Manchester, NH",NH,33,New Hampshire,14,1.0,11.0,2000-2059,20.0,11.0,53.0,6.0,2220,159.0,1.0,10.0,2200-2259,1,0
4078041,590265,2022-03-31,Republic Airlines,BNA,EWR,False,False,2019,2329.0,190.0,190.0,229.0,162.0,95.0,148.0,120.0,748.0,2022,1,3,31,4,UA,UA_CODESHARE,19977,UA,3541,YX,20452,YX,N747YX,3541,10693,1069302,30693,"Nashville, TN",TN,47,Tennessee,54,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,1.0,12.0,2000-2059,17.0,2346.0,221.0,8.0,2347,162.0,1.0,10.0,2300-2359,3,0
4078079,590303,2022-03-31,Republic Airlines,IND,EWR,False,False,2107,2359.0,172.0,172.0,318.0,239.0,104.0,132.0,199.0,645.0,2022,1,3,31,4,UA,UA_CODESHARE,19977,UA,3578,YX,20452,YX,N733YX,3578,12339,1233904,32337,"Indianapolis, IN",IN,18,Indiana,42,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,1.0,11.0,2100-2159,75.0,114.0,258.0,20.0,2319,239.0,1.0,12.0,2300-2359,3,0

In [160]:
min_tm = 2340
df.query('(DepTime==@min_tm) and (Origin=="ATL")')

,Unnamed: 0,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
285978,285978,2022-04-15,Delta Air Lines Inc.,ATL,RSW,False,False,2239,2340.0,61.0,61.0,112.0,52.0,76.0,101.0,92.0,515.0,2022,2,4,15,5,DL,DL,19790,DL,388,DL,19790,DL,N554NW,388,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,14635,1463502,31714,"Fort Myers, FL",FL,12,Florida,33,1.0,4.0,2200-2259,12.0,2352.0,108.0,4.0,20,52.0,1.0,3.0,0001-0559,3,0
313537,313537,2022-04-10,Delta Air Lines Inc.,ATL,MEM,False,False,2129,2340.0,131.0,131.0,2358.0,128.0,55.0,81.0,78.0,332.0,2022,2,4,10,7,DL,DL,19790,DL,849,DL,19790,DL,N985AT,849,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13244,1324402,33244,"Memphis, TN",TN,47,Tennessee,54,1.0,8.0,2100-2159,18.0,2358.0,2353.0,5.0,2150,128.0,1.0,8.0,2100-2159,2,0
333062,333062,2022-04-26,Delta Air Lines Inc.,ATL,PBI,False,False,2249,2340.0,51.0,51.0,110.0,37.0,72.0,104.0,90.0,545.0,2022,2,4,26,2,DL,DL,19790,DL,2158,DL,19790,DL,N393DN,2158,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,14027,1402702,34027,"West Palm Beach/Palm Beach, FL",FL,12,Florida,33,1.0,3.0,2200-2259,14.0,2354.0,106.0,4.0,33,37.0,1.0,2.0,0001-0559,3,0
346388,346388,2022-04-20,Delta Air Lines Inc.,ATL,MKE,False,False,2256,2340.0,44.0,44.0,27.0,30.0,91.0,121.0,107.0,669.0,2022,2,4,20,3,DL,DL,19790,DL,1335,DL,19790,DL,N362DN,1335,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13342,1334207,33342,"Milwaukee, WI",WI,55,Wisconsin,45,1.0,2.0,2200-2259,9.0,2349.0,20.0,7.0,2357,30.0,1.0,2.0,2300-2359,3,0
849375,269085,2022-02-26,Delta Air Lines Inc.,ATL,JAN,False,False,2257,2340.0,43.0,43.0,3.0,43.0,60.0,83.0,83.0,341.0,2022,1,2,26,6,DL,DL,19790,DL,2260,DL,19790,DL,N395DN,2260,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,12448,1244807,32448,"Jackson/Vicksburg, MS",MS,28,Mississippi,53,1.0,2.0,2200-2259,15.0,2355.0,2355.0,8.0,2320,43.0,1.0,2.0,2300-2359,2,0
1291093,190851,2022-07-24,Delta Air Lines Inc.,ATL,BWI,False,False,2301,2340.0,39.0,39.0,126.0,34.0,80.0,111.0,106.0,577.0,2022,3,7,24,7,DL,DL,19790,DL,2889,DL,19790,DL,N913DU,2889,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,10821,1082106,30852,"Baltimore, MD",MD,24,Maryland,35,1.0,2.0,2300-2359,18.0,2358.0,118.0,8.0,52,34.0,1.0,2.0,0001-0559,3,0
1293085,192843,2022-07-30,Delta Air Lines Inc.,ATL,PHL,False,False,2256,2340.0,44.0,44.0,128.0,29.0,93.0,123.0,108.0,666.0,2022,3,7,30,6,DL,DL,19790,DL,2942,DL,19790,DL,N860DN,2942,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,14100,1410005,34100,"Philadelphia, PA",PA,42,Pennsylvania,23,1.0,2.0,2200-2259,11.0,2351.0,124.0,4.0,59,29.0,1.0,1.0,0001-0559,3,0
1294231,193989,2022-07-19,Delta Air Lines Inc.,ATL,ORD,False,False,2230,2340.0,70.0,70.0,33.0,66.0,87.0,117.0,113.0,606.0,2022,3,7,19,2,DL,DL,19790,DL,2976,DL,19790,DL,N334NW,2976,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,4.0,2200-2259,15.0,2355.0,22.0,11.0,2327,66.0,1.0,4.0,2300-2359,3,0
1299094,198852,2022-07-24,Delta Air Lines Inc.,ATL,DFW,False,False,2245,2340.0,55.0,55.0,32.0,34.0,99.0,133.0,112.0,731.0,2022,3,7,24,7,DL,DL,19790,DL,1002,DL,19790,DL,N396DN,1002,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,11298,1129806,30194,"Dallas/Fort Worth, TX",TX,48,Texas,74,1.0,3.0,2200-2259,10.0,2350.0,29.0,3.0,2358,34.0,1.0,2.0,2300-2359,3,0
1305612,205370,2022-07-29,Delta Air Lines Inc.,ATL,MSY,False,False,2014,2340.0,206.0,206.0,7.0,199.0,61.0,94.0,87.0,425.0,2022,3,7,29,5,DL,DL,19790,DL,2174,DL,19790,DL,N688DL,2174,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13495,1349505,33495,"New Orleans, LA",LA,22,Louisiana,72,1.0,12.0,2000-2059,18.0,2358.0,2359.0,8.0,2048,199.0,1.0,12.0,2000-2059,2,0
1305746,205504,2022-07-03,Delta Air Lines Inc.,ATL,MCO,False,False,2350,2340.0,0.0,-10.0,103.0,0.0,57.0,85.0,83.0,404.0,2022,3,7,3,7,DL,DL,19790,DL,2179,DL,19790,DL,N590NW,2179,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13204,1320402,31454,"Orlando, FL",FL,12,Florida,33,0.0,-1.0,2300-2359,21.0,1.0,58.0,5.0,115,-12.0,0.0,-1.0,0001-0559,2,0
1306282,206040,2022-07-28,Delta Air Lines Inc.,ATL,TYS,False,False,2330,2340.0,10.0,10.0,48.0,26.0,32.0,52.0,68.0,152.0,2022,3,7,28,4,DL,DL,19790,DL,2196,DL,19790,DL,N347NW,2196,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,15412,1541205,35412,"Knoxville, TN",TN,47,Tennessee,54,0.0,0.0,2300-2359,31.0,11.0,43.0,5.0,22,26.0,1.0,1.0,0001-0559,1,0
1307802,207560,2022-07-03,Delta Air Lines Inc.,ATL,FLL,False,False,2230,2340.0,70.0,70.0,129.0,65.0,91.0,114.0,109.0,581.0,2022,3,7,3,7,DL,DL,19790,DL,2241,DL,19790,DL,N588NW,2241,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,11697,1169706,32467,"Fort Lauderdale, FL",FL,12,Florida,33,1.0,4.0,2200-2259,14.0,2354.0,125.0,4.0,24,65.0,1.0,4.0,0001-0559,3,0
1315699,215457,2022-07-01,Delta Air Lines Inc.,ATL,ROA,False,False,2255,2340.0,45.0,45.0,54.0,33.0,59.0,86.0,74.0,357.0,2022,3,7,1,5,DL,DL,19790,DL,1258,DL,19790,DL,N312US,1258,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,14574,1457405,34574,"Roanoke, VA",VA,51,Virginia,38,1.0,3.0,2200-2259,10.0,2350.0,49.0,5.0,21,33.0,1.0,2.0,0001-0559,2,0
1316575,216333,2022-07-22,Delta Air Lines Inc.,ATL,FAY,False,False,2205,2340.0,95.0,95.0,51.0,87.0,52.0,79.0,71.0,331.0,2022,3,7,22,5,DL,DL,19790,DL,1285,DL,19790,DL,N979AT,1285,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,11641,1164102,31641,"Fayetteville, NC",NC,37,North Carolina,36,1.0,6.0,2200-2259,15.0,2355.0,47.0,4.0,2324,87.0,1.0,5.0,2300-2359,2,0
1318346,218104,2022-07-24,Delta Air Lines Inc.,ATL,MKE,False,False,2335,2340.0,5.0,5.0,43.0,12.0,104.0,116.0,123.0,669.0,2022,3,7,24,7,DL,DL,19790,DL,1335,DL,19790,DL,N374DX,1335,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13342,1334207,33342,"Milwaukee, WI",WI,55,Wisconsin,45,0.0,0.0,2300-2359,12.0,2352.0,36.0,7.0,31,12.0,0.0,0.0,0001-0559,3,0
1320248,220006,2022-07-27,Delta Air Lines Inc.,ATL,PNS,False,False,2300,2340.0,40.0,40.0,2339.0,31.0,43.0,68.0,59.0,271.0,2022,3,7,27,3,DL,DL,19790,DL,2351,DL,19790,DL,N557NW,2351,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,14193,1419306,33728,"Pensacola, FL",FL,12,Florida,33,1.0,2.0,2300-2359,11.0,2351.0,2334.0,5.0,2308,31.0,1.0,2.0,2300-2359,2,0
1324986,224744,2022-07-08,Delta Air Lines Inc.,ATL,CHS,False,False,2011,2340.0,209.0,209.0,58.0,220.0,51.0,67.0,78.0,259.0,2022,3,7,8,5,DL,DL,19790,DL,2493,DL,19790,DL,N667DN,2493,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,10994,1099402,30994,"Charleston, SC",SC,45,South Carolina,37,1.0,12.0,2000-2059,20.0,2400.0,51.0,7.0,2118,220.0,1.0,12.0,2100-2159,2,0
1629150,528908,2022-07-06,Southwest Airlines Co.,ATL,PHL,False,False,2200,2340.0,100.0,100.0,139.0,94.0,96.0,125.0,119.0,666.0,2022,3,7,6,3,WN,WN,19393,WN,1880,WN,19393,WN,N469WN,1880,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,14100,1410005,34100,"Philadelphia, PA",PA,42,Pennsylvania,23,1.0,6.0,2200-2259,16.0,2356.0,132.0,7.0,5,94.0,1.0,6.0,0001-0559,3,0
2014092,295060,2022-05-05,Delta Air Lines Inc.,ATL,MSY,False,False,2251,2340.0,49.0,49.0,42.0,83.0,68.0,88.0,122.0,425.0,2022,2,5,5,4,DL,DL,19790,DL,363,DL,19790,DL,N687DL,363,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13495,1349505,33495,"New Orleans, LA",LA,22,Louisiana,72,1.0,3.0,2200-2259,21.0,1.0,9.0,33.0,2319,83.0,1.0,5.0,2300-2359,2,0
2041344,322312,2022-05-21,Delta Air Lines Inc.,ATL,IAD,False,False,2251,2340.0,49.0,49.0,115.0,42.0,76.0,102.0,95.0,534.0,2022,2,5,21,6,DL,DL,19790,DL,800,DL,19790,DL,N359NW,800,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,12264,1226402,30852,"Washington, DC",VA,51,Virginia,38,1.0,3.0,2200-2259,13.0,2353.0,109.0,6.0,33,42.0,1.0,2.0,0001-0559,3,0
2050501,331469,2022-05-13,Delta Air Lines Inc.,ATL,TLH,False,False,2255,2340.0,45.0,45.0,32.0,33.0,37.0,64.0,52.0,223.0,2022,2,5,13,5,DL,DL,19790,DL,1570,DL,19790,DL,N356NW,1570,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,15249,1524906,35249,"Tallahassee, FL",FL,12,Florida,33,1.0,3.0,2200-2259,11.0,2351.0,28.0,4.0,2359,33.0,1.0,2.0,2300-2359,1,0
2080176,361144,2022-05-30,Delta Air Lines Inc.,ATL,ORD,False,False,2303,2340.0,37.0,37.0,23.0,24.0,84.0,116.0,103.0,606.0,2022,2,5,30,1,DL,DL,19790,DL,1374,DL,19790,DL,N118DY,1374,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,2.0,2300-2359,11.0,2351.0,15.0,8.0,2359,24.0,1.0,1.0,2300-2359,3,0
2476992,155010,2022-06-10,Delta Air Lines Inc.,ATL,SAT,False,False,2235,2340.0,65.0,65.0,48.0,50.0,111.0,143.0,128.0,874.0,2022,2,6,10,5,DL,DL,19790,DL,1500,DL,19790,DL,N371DN,1500,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,14683,1468305,33214,"San Antonio, TX",TX,48,Texas,74,1.0,4.0,2200-2259,13.0,2353.0,44.0,4.0,2358,50.0,1.0,3.0,2300-2359,4,0
2480446,158464,2022-06-22,Delta Air Lines Inc.,ATL,BOS,False,False,2115,2340.0,145.0,145.0,219.0,146.0,126.0,158.0,159.0,946.0,2022,2,6,22,3,DL,DL,19790,DL,2609,DL,19790,DL,N3761R,2609,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,10721,1072102,30721,"Boston, MA",MA,25,Massachusetts,13,1.0,9.0,2100-2159,10.0,2350.0,156.0,23.0,2353,146.0,1.0,9.0,2300-2359,4,0
2501300,179318,2022-06-29,Delta Air Lines Inc.,ATL,LIT,False,False,2319,2340.0,21.0,21.0,14.0,23.0,69.0,92.0,94.0,453.0,2022,2,6,29,3,DL,DL,19790,DL,1736,DL,19790,DL,N333NW,1736,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,12992,1299206,32600,"Little Rock, AR",AR,5,Arkansas,71,1.0,1.0,2300-2359,13.0,2353.0,2.0,12.0,2351,23.0,1.0,1.0,2300-2359,2,0
2514949,192967,2022-06-07,Delta Air Lines Inc.,ATL,CAE,False,False,2347,2340.0,0.0,-7.0,54.0,8.0,38.0,59.0,74.0,192.0,2022,2,6,7,2,DL,DL,19790,DL,1055,DL,19790,DL,N326US,1055,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,10868,1086803,30868,"Columbia, SC",SC,45,South Carolina,37,0.0,-1.0,2300-2359,31.0,11.0,49.0,5.0,46,8.0,0.0,0.0,0001-0559,1,0
2546990,225008,2022-06-15,Frontier Airlines Inc.,ATL,LAS,False,False,2108,2340.0,152.0,152.0,50.0,126.0,223.0,276.0,250.0,1747.0,2022,2,6,15,3,F9,F9,20436,F9,2001,F9,20436,F9,N313FR,2001,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,12889,1288903,32211,"Las Vegas, NV",NV,32,Nevada,85,1.0,10.0,2100-2159,14.0,2354.0,37.0,13.0,2244,126.0,1.0,8.0,2200-2259,7,0
2691343,369361,2022-06-07,Southwest Airlines Co.,ATL,BWI,False,False,2255,2340.0,45.0,45.0,133.0,48.0,81.0,110.0,113.0,577.0,2022,2,6,7,2,WN,WN,19393,WN,3108,WN,19393,WN,N264LV,3108,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,10821,1082106,30852,"Baltimore, MD",MD,24,Maryland,35,1.0,3.0,2200-2259,28.0,8.0,129.0,4.0,45,48.0,1.0,3.0,0001-0559,3,0
2926977,2938,2022-01-07,Delta Air Lines Inc.,ATL,MCO,False,False,2339,2340.0,1.0,1.0,57.0,0.0,59.0,85.0,77.0,404.0,2022,1,1,7,5,DL,DL,19790,DL,2488,DL,19790,DL,N922DZ,2488,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13204,1320402,31454,"Orlando, FL",FL,12,Florida,33,0.0,0.0,2300-2359,12.0,2352.0,51.0,6.0,104,-7.0,0.0,-1.0,0001-0559,2,0
2932288,8249,2022-01-17,Delta Air Lines Inc.,ATL,ORD,False,False,2310,2340.0,30.0,30.0,42.0,35.0,102.0,117.0,122.0,606.0,2022,1,1,17,1,DL,DL,19790,DL,1374,DL,19790,DL,N346DN,1374,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,2.0,2300-2359,14.0,2354.0,36.0,6.0,7,35.0,1.0,2.0,0001-0559,3,0
2948317,24278,2022-01-03,Delta Air Lines Inc.,ATL,MCI,False,False,2250,2340.0,50.0,50.0,39.0,40.0,100.0,129.0,119.0,692.0,2022,1,1,3,1,DL,DL,19790,DL,2979,DL,19790,DL,N918DU,2979,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13198,1319801,33198,"Kansas City, MO",MO,29,Missouri,64,1.0,3.0,2200-2259,15.0,2355.0,35.0,4.0,2359,40.0,1.0,2.0,2300-2359,3,0
2956646,32607,2022-01-21,Delta Air Lines Inc.,ATL,MCO,False,False,2339,2340.0,1.0,1.0,116.0,12.0,64.0,85.0,96.0,404.0,2022,1,1,21,5,DL,DL,19790,DL,2488,DL,19790,DL,N913DU,2488,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13204,1320402,31454,"Orlando, FL",FL,12,Florida,33,0.0,0.0,2300-2359,24.0,4.0,108.0,8.0,104,12.0,0.0,0.0,0001-0559,2,0
3488934,1158,2022-03-29,Delta Air Lines Inc.,ATL,MSP,False,False,2310,2340.0,30.0,30.0,103.0,13.0,128.0,160.0,143.0,907.0,2022,1,3,29,2,DL,DL,19790,DL,510,DL,19790,DL,N832DN,510,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13487,1348702,31650,"Minneapolis, MN",MN,27,Minnesota,63,1.0,2.0,2300-2359,12.0,2352.0,100.0,3.0,50,13.0,0.0,0.0,0001-0559,4,0
3514264,26488,2022-03-17,Delta Air Lines Inc.,ATL,SYR,False,False,2239,2340.0,61.0,61.0,156.0,68.0,102.0,129.0,136.0,794.0,2022,1,3,17,4,DL,DL,19790,DL,1618,DL,19790,DL,N333NW,1618,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,15096,1509602,35096,"Syracuse, NY",NY,36,New York,22,1.0,4.0,2200-2259,24.0,4.0,146.0,10.0,48,68.0,1.0,4.0,0001-0559,4,0
3516460,28684,2022-03-25,Delta Air Lines Inc.,ATL,PIT,False,False,2315,2340.0,25.0,25.0,111.0,15.0,73.0,101.0,91.0,526.0,2022,1,3,25,5,DL,DL,19790,DL,1683,DL,19790,DL,N304DN,1683,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,14122,1412202,30198,"Pittsburgh, PA",PA,42,Pennsylvania,23,1.0,1.0,2300-2359,12.0,2352.0,105.0,6.0,56,15.0,1.0,1.0,0001-0559,3,0
3516555,28779,2022-03-10,Delta Air Lines Inc.,ATL,IAH,False,False,2248,2340.0,52.0,52.0,46.0,47.0,101.0,131.0,126.0,689.0,2022,1,3,10,4,DL,DL,19790,DL,1687,DL,19790,DL,N394DX,1687,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,1.0,3.0,2200-2259,17.0,2357.0,38.0,8.0,2359,47.0,1.0,3.0,2300-2359,3,0
3521934,34158,2022-03-19,Delta Air Lines Inc.,ATL,CHS,False,False,2257,2340.0,43.0,43.0,40.0,35.0,39.0,68.0,60.0,259.0,2022,1,3,19,6,DL,DL,19790,DL,2850,DL,19790,DL,N807DN,2850,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,10994,1099402,30994,"Charleston, SC",SC,45,South Carolina,37,1.0,2.0,2200-2259,12.0,2352.0,31.0,9.0,5,35.0,1.0,2.0,0001-0559,2,0
3537370,49594,2022-03-23,Delta Air Lines Inc.,ATL,TYS,False,False,2303,2340.0,37.0,37.0,24.0,28.0,28.0,53.0,44.0,152.0,2022,1,3,23,3,DL,DL,19790,DL,2196,DL,19790,DL,N348NW,2196,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,15412,1541205,35412,"Knoxville, TN",TN,47,Tennessee,54,1.0,2.0,2300-2359,12.0,2352.0,20.0,4.0,2356,28.0,1.0,1.0,2300-2359,1,0
3548508,60732,2022-03-16,Delta Air Lines Inc.,ATL,MKE,False,False,2320,2340.0,20.0,20.0,30.0,7.0,90.0,123.0,110.0,669.0,2022,1,3,16,3,DL,DL,19790,DL,1335,DL,19790,DL,N316DN,1335,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13342,1334207,33342,"Milwaukee, WI",WI,55,Wisconsin,45,1.0,1.0,2300-2359,14.0,2354.0,24.0,6.0,23,7.0,0.0,0.0,0001-0559,3,0
3548519,60743,2022-03-27,Delta Air Lines Inc.,ATL,MKE,False,False,2320,2340.0,20.0,20.0,43.0,20.0,106.0,123.0,123.0,669.0,2022,1,3,27,7,DL,DL,19790,DL,1335,DL,19790,DL,N365NW,1335,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13342,1334207,33342,"Milwaukee, WI",WI,55,Wisconsin,45,1.0,1.0,2300-2359,13.0,2353.0,39.0,4.0,23,20.0,1.0,1.0,0001-0559,3,0
3554418,66642,2022-03-06,Delta Air Lines Inc.,ATL,MCO,False,False,2339,2340.0,1.0,1.0,58.0,0.0,58.0,85.0,78.0,404.0,2022,1,3,6,7,DL,DL,19790,DL,2488,DL,19790,DL,N694DL,2488,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,13204,1320402,31454,"Orlando, FL",FL,12,Florida,33,0.0,0.0,2300-2359,16.0,2356.0,54.0,4.0,104,-6.0,0.0,-1.0,0001-0559,2,0
4021219,533443,2022-03-10,Southwest Airlines Co.,ATL,JAX,False,False,2235,2340.0,65.0,65.0,36.0,56.0,41.0,65.0,56.0,270.0,2022,1,3,10,4,WN,WN,19393,WN,113,WN,19393,WN,N8607M,113,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,12451,1245102,31136,"Jacksonville, FL",FL,12,Florida,33,1.0,4.0,2200-2259,11.0,2351.0,32.0,4.0,2340,56.0,1.0,3.0,2300-2359,2,0

In [170]:
df[['Distance','ArrTime','ArrDelay']].mean()

Distance     797.865703
ArrTime     1457.886018
ArrDelay       7.528486
dtype: float64

In [172]:
df[['Distance','ArrTime','ArrDelay']].agg(['mean','min','max'])

         Distance      ArrTime     ArrDelay
mean   797.865703  1457.886018     7.528486
min     31.000000     1.000000  -100.000000
max   5095.000000  2400.000000  7232.000000

In [180]:
df[['Distance','ArrTime','ArrDelay']].agg(
    {'Distance':['mean','min','max'],
     'ArrTime':['min','max'],
     'ArrDelay':['min','max']}
)

         Distance  ArrTime  ArrDelay
mean   797.865703      NaN       NaN
min     31.000000      1.0    -100.0
max   5095.000000   2400.0    7232.0

In [184]:
df['Airline'].unique()

array(['Commutair Aka Champlain Enterprises, Inc.',
       'GoJet Airlines, LLC d/b/a United Express',
       'Air Wisconsin Airlines Corp', 'Mesa Airlines Inc.',
       'Southwest Airlines Co.', 'Republic Airlines', 'Endeavor Air Inc.',
       'American Airlines Inc.', 'Capital Cargo International',
       'SkyWest Airlines Inc.', 'Alaska Airlines Inc.', 'JetBlue Airways',
       'Delta Air Lines Inc.', 'Frontier Airlines Inc.', 'Allegiant Air',
       'Hawaiian Airlines Inc.', 'Envoy Air', 'Spirit Air Lines',
       'Comair Inc.', 'Horizon Air', 'United Air Lines Inc.'],
      dtype=object)

In [186]:
df['Airline'].nunique()

21

In [188]:
df['Airline'].value_counts()

Airline
Southwest Airlines Co.                       731925
Delta Air Lines Inc.                         512114
American Airlines Inc.                       495953
SkyWest Airlines Inc.                        440807
United Air Lines Inc.                        352009
Republic Airlines                            197881
JetBlue Airways                              156793
Envoy Air                                    150758
Endeavor Air Inc.                            142624
Comair Inc.                                  135884
Alaska Airlines Inc.                         129510
Spirit Air Lines                             129208
Frontier Airlines Inc.                        86557
Allegiant Air                                 73504
Mesa Airlines Inc.                            71972
Horizon Air                                   56320
Capital Cargo International                   52827
Commutair Aka Champlain Enterprises, Inc.     44367
Hawaiian Airlines Inc.                        42212
Air Wisconsin Airlines Corp                   40300
GoJet Airlines, LLC d/b/a United Express      34793
Name: count, dtype: int64

In [192]:
df[['Airline','Origin']].value_counts()

Airline                                    Origin
Delta Air Lines Inc.                       ATL       120919
American Airlines Inc.                     DFW        81239
                                           CLT        57914
United Air Lines Inc.                      DEN        46489
Southwest Airlines Co.                     DEN        45398
                                                      ...
Frontier Airlines Inc.                     ICT            1
Mesa Airlines Inc.                         MDT            1
Air Wisconsin Airlines Corp                FWA            1
Commutair Aka Champlain Enterprises, Inc.  DSM            1
GoJet Airlines, LLC d/b/a United Express   MKE            1
Name: count, Length: 2194, dtype: int64

In [194]:
df[['Airline','Origin']].value_counts().reset_index()

                                        Airline Origin   count
0                          Delta Air Lines Inc.    ATL  120919
1                        American Airlines Inc.    DFW   81239
2                        American Airlines Inc.    CLT   57914
3                         United Air Lines Inc.    DEN   46489
4                        Southwest Airlines Co.    DEN   45398
...                                         ...    ...     ...
2189                     Frontier Airlines Inc.    ICT       1
2190                         Mesa Airlines Inc.    MDT       1
2191                Air Wisconsin Airlines Corp    FWA       1
2192  Commutair Aka Champlain Enterprises, Inc.    DSM       1
2193   GoJet Airlines, LLC d/b/a United Express    MKE       1

[2194 rows x 3 columns]

In [196]:
df[['CRSDepTime']].rank()

         CRSDepTime
0         1607887.5
1          595750.5
2         2549367.0
3         2344374.5
4         1615667.5
...             ...
4078313   3576231.5
4078314   3053676.0
4078315   2916510.0
4078316   3877928.5
4078317   1678988.0

[4078318 rows x 1 columns]

In [200]:
df[['CRSDepTime']].shift(2, fill_value=0)

         CRSDepTime
0                 0
1                 0
2              1133
3               732
4              1529
...             ...
4078313        1829
4078314        2035
4078315        1949
4078316        1733
4078317        1700

[4078318 rows x 1 columns]

In [202]:
df[['CRSDepTime']].cumsum()

         CRSDepTime
0              1133
1              1865
2              3394
3              4829
4              5964
...             ...
4078313  5422470512
4078314  5422472245
4078315  5422473945
4078316  5422476074
4078317  5422477228

[4078318 rows x 1 columns]

In [204]:
df[['CRSDepTime']].cummax()

         CRSDepTime
0              1133
1              1133
2              1529
3              1529
4              1529
...             ...
4078313        2359
4078314        2359
4078315        2359
4078316        2359
4078317        2359

[4078318 rows x 1 columns]

In [206]:
df[['CRSDepTime']].cummin()

         CRSDepTime
0              1133
1               732
2               732
3               732
4               732
...             ...
4078313           1
4078314           1
4078315           1
4078316           1
4078317           1

[4078318 rows x 1 columns]

In [214]:
df[['DepDelayMinutes']].rolling(window=5)

Rolling [window=5,center=False,axis=0,method=single]

In [216]:
df[['DepDelayMinutes']].rolling(window=5).mean()

         DepDelayMinutes
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    0.0
...                  ...
4078313            144.2
4078314            108.4
4078315            145.0
4078316            142.8
4078317            112.0

[4078318 rows x 1 columns]

In [218]:
df['DepTime'].clip(1000,2000)

0          1123.0
1          1000.0
2          1514.0
3          1430.0
4          1135.0
            ...
4078313    2000.0
4078314    1817.0
4078315    2000.0
4078316    2000.0
4078317    1148.0
Name: DepTime, Length: 4078318, dtype: float64

In [222]:
df.groupby('Airline')[['DepDelay']].mean()

                                            DepDelay
Airline
Air Wisconsin Airlines Corp                 7.913244
Alaska Airlines Inc.                        5.925950
Allegiant Air                              19.061569
American Airlines Inc.                     14.876556
Capital Cargo International                 6.044430
Comair Inc.                                12.693968
Commutair Aka Champlain Enterprises, Inc.  12.093640
Delta Air Lines Inc.                       11.398599
Endeavor Air Inc.                           9.696390
Envoy Air                                   6.883448
Frontier Airlines Inc.                     20.052761
GoJet Airlines, LLC d/b/a United Express   16.741980
Hawaiian Airlines Inc.                      6.612163
Horizon Air                                 5.892804
JetBlue Airways                            26.009890
Mesa Airlines Inc.                         15.714753
Republic Airlines                          10.811487
SkyWest Airlines Inc.                      11.247036
Southwest Airlines Co.                     14.563121
Spirit Air Lines                           15.621816
United Air Lines Inc.                      13.730542

In [232]:
df.groupby('Airline')[['DepDelay']].agg(['mean','min','max']).head(5)

                              DepDelay
                                  mean   min     max
Airline
Air Wisconsin Airlines Corp   7.913244 -30.0  1355.0
Alaska Airlines Inc.          5.925950 -63.0   915.0
Allegiant Air                19.061569 -37.0  1917.0
American Airlines Inc.       14.876556 -35.0  2994.0
Capital Cargo International   6.044430 -34.0  1512.0

In [238]:
df_agg = df.groupby('Airline')[['DepDelay','ArrDelay']].agg(['mean','min','max']).head(5)
df_agg

                              DepDelay                 ArrDelay
                                  mean   min     max       mean   min     max
Airline
Air Wisconsin Airlines Corp   7.913244 -30.0  1355.0   1.819183 -63.0  1353.0
Alaska Airlines Inc.          5.925950 -63.0   915.0   3.170588 -76.0   908.0
Allegiant Air                19.061569 -37.0  1917.0  20.519645 -69.0  1919.0
American Airlines Inc.       14.876556 -35.0  2994.0   9.528696 -80.0  2977.0
Capital Cargo International   6.044430 -34.0  1512.0   2.627024 -52.0  1490.0

In [240]:
df_agg.columns

MultiIndex([('DepDelay', 'mean'),
            ('DepDelay',  'min'),
            ('DepDelay',  'max'),
            ('ArrDelay', 'mean'),
            ('ArrDelay',  'min'),
            ('ArrDelay',  'max')],
           )

In [242]:
df_agg.columns.to_flat_index()

Index([('DepDelay', 'mean'),  ('DepDelay', 'min'),  ('DepDelay', 'max'),
       ('ArrDelay', 'mean'),  ('ArrDelay', 'min'),  ('ArrDelay', 'max')],
      dtype='object')

In [244]:
df_agg.columns = ['_'.join(x) for x in df_agg.columns]

In [246]:
df_agg

,DepDelay_mean,DepDelay_min,DepDelay_max,ArrDelay_mean,ArrDelay_min,ArrDelay_max
Airline,,,,,,
Air Wisconsin Airlines Corp,7.913244,-30.0,1355.0,1.819183,-63.0,1353.0
Alaska Airlines Inc.,5.925950,-63.0,915.0,3.170588,-76.0,908.0
Allegiant Air,19.061569,-37.0,1917.0,20.519645,-69.0,1919.0
American Airlines Inc.,14.876556,-35.0,2994.0,9.528696,-80.0,2977.0
Capital Cargo International,6.044430,-34.0,1512.0,2.627024,-52.0,1490.0

In [248]:
df.head(5)

,Unnamed: 0,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,1228.0,0.0,40.0,72.0,65.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4301,C5,20445,C5,N21144,4301,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0
1,1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,848.0,0.0,55.0,77.0,80.0,295.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4299,C5,20445,C5,N16170,4299,12206,1220605,32206,"Harlingen/San Benito, TX",TX,48,Texas,74,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0
2,2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,1636.0,0.0,47.0,70.0,82.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N21144,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,21.0,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0
3,3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,1547.0,0.0,57.0,90.0,77.0,376.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4296,C5,20445,C5,N11184,4296,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,11973,1197302,31973,"Gulfport/Biloxi, MS",MS,28,Mississippi,53,0.0,-1.0,1400-1459,16.0,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0
4,4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,1251.0,6.0,49.0,70.0,76.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4295,C5,20445,C5,N17146,4295,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1100-1159,19.0,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0

In [250]:
df['DepTime2']=df['DepTime']/60

In [252]:
df.head()

,Unnamed: 0,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings,DepTime2
0,0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,1228.0,0.0,40.0,72.0,65.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4301,C5,20445,C5,N21144,4301,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0,18.716667
1,1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,848.0,0.0,55.0,77.0,80.0,295.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4299,C5,20445,C5,N16170,4299,12206,1220605,32206,"Harlingen/San Benito, TX",TX,48,Texas,74,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0,12.133333
2,2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,1636.0,0.0,47.0,70.0,82.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N21144,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,21.0,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0,25.233333
3,3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,1547.0,0.0,57.0,90.0,77.0,376.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4296,C5,20445,C5,N11184,4296,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,11973,1197302,31973,"Gulfport/Biloxi, MS",MS,28,Mississippi,53,0.0,-1.0,1400-1459,16.0,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0,23.833333
4,4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,1251.0,6.0,49.0,70.0,76.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4295,C5,20445,C5,N17146,4295,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1100-1159,19.0,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0,18.916667

In [254]:
df.assign(DepTime3 = df['DepTime']/15)

,Unnamed: 0,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings,DepTime2,DepTime3
0,0,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",GJT,DEN,False,False,1133,1123.0,0.0,-10.0,1228.0,0.0,40.0,72.0,65.0,212.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4301,C5,20445,C5,N21144,4301,11921,1192102,31921,"Grand Junction, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245,-17.0,0.0,-2.0,1200-1259,1,0,18.716667,74.866667
1,1,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",HRL,IAH,False,False,732,728.0,0.0,-4.0,848.0,0.0,55.0,77.0,80.0,295.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4299,C5,20445,C5,N16170,4299,12206,1220605,32206,"Harlingen/San Benito, TX",TX,48,Texas,74,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849,-1.0,0.0,-1.0,0800-0859,2,0,12.133333,48.533333
2,2,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1529,1514.0,0.0,-15.0,1636.0,0.0,47.0,70.0,82.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4298,C5,20445,C5,N21144,4298,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,-1.0,1500-1559,21.0,1535.0,1622.0,14.0,1639,-3.0,0.0,-1.0,1600-1659,2,0,25.233333,100.933333
3,3,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",IAH,GPT,False,False,1435,1430.0,0.0,-5.0,1547.0,0.0,57.0,90.0,77.0,376.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4296,C5,20445,C5,N11184,4296,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,11973,1197302,31973,"Gulfport/Biloxi, MS",MS,28,Mississippi,53,0.0,-1.0,1400-1459,16.0,1446.0,1543.0,4.0,1605,-18.0,0.0,-2.0,1600-1659,2,0,23.833333,95.333333
4,4,2022-04-04,"Commutair Aka Champlain Enterprises, Inc.",DRO,DEN,False,False,1135,1135.0,0.0,0.0,1251.0,6.0,49.0,70.0,76.0,251.0,2022,2,4,4,1,UA,UA_CODESHARE,19977,UA,4295,C5,20445,C5,N17146,4295,11413,1141307,30285,"Durango, CO",CO,8,Colorado,82,11292,1129202,30325,"Denver, CO",CO,8,Colorado,82,0.0,0.0,1100-1159,19.0,1154.0,1243.0,8.0,1245,6.0,0.0,0.0,1200-1259,2,0,18.916667,75.666667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4078313,590537,2022-03-31,Republic Airlines,MSY,EWR,False,True,1949,2014.0,25.0,25.0,234.0,NaN,NaN,185.0,NaN,1167.0,2022,1,3,31,4,UA,UA_CODESHARE,19977,UA,3621,YX,20452,YX,N745YX,3621,13495,1349505,33495,"New Orleans, LA",LA,22,Louisiana,72,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,1.0,1.0,1900-1959,17.0,2031.0,202.0,32.0,2354,NaN,NaN,NaN,2300-2359,5,1,33.566667,134.266667
4078314,590538,2022-03-17,Republic Airlines,CLT,EWR,True,False,1733,1817.0,44.0,44.0,NaN,NaN,NaN,129.0,NaN,529.0,2022,1,3,17,4,UA,UA_CODESHARE,19977,UA,3437,YX,20452,YX,N654RW,3437,11057,1105703,31057,"Charlotte, NC",NC,37,North Carolina,36,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,1.0,2.0,1700-1759,NaN,NaN,NaN,NaN,1942,NaN,NaN,NaN,1900-1959,3,0,30.283333,121.133333
4078315,590539,2022-03-08,Republic Airlines,ALB,ORD,False,False,1700,2318.0,378.0,378.0,59.0,381.0,135.0,158.0,161.0,723.0,2022,1,3,8,2,UA,UA_CODESHARE,19977,UA,3413,YX,20452,YX,N733YX,3413,10257,1025702,30257,"Albany, NY",NY,36,New York,22,13930,1393007,30977,"Chicago, IL",IL,17,Illinois,41,1.0,12.0,1700-1759,19.0,2337.0,52.0,7.0,1838,381.0,1.0,12.0,1800-1859,3,0,38.633333,154.533333
4078316,590540,2022-03-25,Republic Airlines,EWR,PIT,False,True,2129,2322.0,113.0,113.0,939.0,NaN,NaN,86.0,NaN,319.0,2022,1,3,25,5,UA,UA_CODESHARE,19977,UA,3450,YX,20452,YX,N647RW,3450,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,14122,1412202,30198,"Pittsburgh, PA",PA,42,Pennsylvania,23,1.0,7.0,2100-2159,25.0,2347.0,933.0,6.0,2255,NaN,NaN,NaN,2200-2259,2,1,38.700000,154.800000
4078317,590541,2022-03-07,Republic Airlines,EWR,RDU,False,True,1154,1148.0,0.0,-6.0,1556.0,NaN,NaN,99.0,NaN,416.0,2022,1,3,7,1,UA,UA_CODESHARE,19977,UA,3585,YX,20452,YX,N648RW,3585,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,14492,1449202,34492,"Raleigh/Durham, NC",NC,37,North Carolina,36,0.0,-1.0,1100-1159,13.0,1201.0,1552.0,4.0,1333,NaN,NaN,NaN,1300-1359,2,1,19.133333,76.533333

In [256]:
df.sort_values('ArrDelay')

,Unnamed: 0,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings,DepTime2
3336665,412626,2022-01-20,JetBlue Airways,STT,EWR,False,False,1242,1223.0,0.0,-19.0,1542.0,0.0,236.0,340.0,259.0,1634.0,2022,1,1,20,4,B6,B6,20409,B6,886,B6,20409,B6,N775JB,886,15024,1502403,34945,"Charlotte Amalie, VI",VI,78,U.S. Virgin Islands,4,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,0.0,-2.0,1200-1259,15.0,1238.0,1534.0,8.0,1722,-100.0,0.0,-2.0,1700-1759,7,0,20.383333
3756032,268256,2022-03-30,JetBlue Airways,STT,JFK,False,False,1641,1626.0,0.0,-15.0,2024.0,0.0,222.0,318.0,238.0,1623.0,2022,1,3,30,3,B6,B6,20409,B6,830,B6,20409,B6,N2039J,830,15024,1502403,34945,"Charlotte Amalie, VI",VI,78,U.S. Virgin Islands,4,12478,1247805,31703,"New York, NY",NY,36,New York,22,0.0,-1.0,1600-1659,10.0,1636.0,2018.0,6.0,2159,-95.0,0.0,-2.0,2100-2159,7,0,27.100000
3322408,398369,2022-01-22,JetBlue Airways,STT,JFK,False,False,1812,1810.0,0.0,-2.0,2102.0,0.0,210.0,321.0,232.0,1623.0,2022,1,1,22,6,B6,B6,20409,B6,830,B6,20409,B6,N2105J,830,15024,1502403,34945,"Charlotte Amalie, VI",VI,78,U.S. Virgin Islands,4,12478,1247805,31703,"New York, NY",NY,36,New York,22,0.0,-1.0,1800-1859,10.0,1820.0,2050.0,12.0,2233,-91.0,0.0,-2.0,2200-2259,7,0,30.166667
284876,284876,2022-04-12,Delta Air Lines Inc.,SAN,ATL,False,False,1300,1259.0,0.0,-1.0,1959.0,0.0,209.0,325.0,240.0,1892.0,2022,2,4,12,2,DL,DL,19790,DL,350,DL,19790,DL,N723TW,350,14679,1467903,33570,"San Diego, CA",CA,6,California,91,10397,1039707,30397,"Atlanta, GA",GA,13,Georgia,34,0.0,-1.0,1300-1359,25.0,1324.0,1953.0,6.0,2125,-86.0,0.0,-2.0,2100-2159,8,0,20.983333
2302544,583512,2022-05-12,Republic Airlines,LGA,IAH,False,False,1315,1302.0,0.0,-13.0,1520.0,0.0,168.0,266.0,198.0,1416.0,2022,2,5,12,4,AA,AA_CODESHARE,19805,AA,4816,YX,20452,YX,N420YX,4816,12953,1295304,31703,"New York, NY",NY,36,New York,22,12266,1226603,31453,"Houston, TX",TX,48,Texas,74,0.0,-1.0,1300-1359,21.0,1323.0,1511.0,9.0,1641,-81.0,0.0,-2.0,1600-1659,6,0,21.700000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4078311,590535,2022-03-31,Republic Airlines,EWR,PIT,True,False,1829,2033.0,124.0,124.0,NaN,NaN,NaN,97.0,NaN,319.0,2022,1,3,31,4,UA,UA_CODESHARE,19977,UA,3687,YX,20452,YX,N651RW,3687,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,14122,1412202,30198,"Pittsburgh, PA",PA,42,Pennsylvania,23,1.0,8.0,1800-1859,NaN,NaN,NaN,NaN,2006,NaN,NaN,NaN,2000-2059,2,0,33.883333
4078313,590537,2022-03-31,Republic Airlines,MSY,EWR,False,True,1949,2014.0,25.0,25.0,234.0,NaN,NaN,185.0,NaN,1167.0,2022,1,3,31,4,UA,UA_CODESHARE,19977,UA,3621,YX,20452,YX,N745YX,3621,13495,1349505,33495,"New Orleans, LA",LA,22,Louisiana,72,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,1.0,1.0,1900-1959,17.0,2031.0,202.0,32.0,2354,NaN,NaN,NaN,2300-2359,5,1,33.566667
4078314,590538,2022-03-17,Republic Airlines,CLT,EWR,True,False,1733,1817.0,44.0,44.0,NaN,NaN,NaN,129.0,NaN,529.0,2022,1,3,17,4,UA,UA_CODESHARE,19977,UA,3437,YX,20452,YX,N654RW,3437,11057,1105703,31057,"Charlotte, NC",NC,37,North Carolina,36,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,1.0,2.0,1700-1759,NaN,NaN,NaN,NaN,1942,NaN,NaN,NaN,1900-1959,3,0,30.283333
4078316,590540,2022-03-25,Republic Airlines,EWR,PIT,False,True,2129,2322.0,113.0,113.0,939.0,NaN,NaN,86.0,NaN,319.0,2022,1,3,25,5,UA,UA_CODESHARE,19977,UA,3450,YX,20452,YX,N647RW,3450,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,14122,1412202,30198,"Pittsburgh, PA",PA,42,Pennsylvania,23,1.0,7.0,2100-2159,25.0,2347.0,933.0,6.0,2255,NaN,NaN,NaN,2200-2259,2,1,38.700000
4078317,590541,2022-03-07,Republic Airlines,EWR,RDU,False,True,1154,1148.0,0.0,-6.0,1556.0,NaN,NaN,99.0,NaN,416.0,2022,1,3,7,1,UA,UA_CODESHARE,19977,UA,3585,YX,20452,YX,N648RW,3585,11618,1161802,31703,"Newark, NJ",NJ,34,New Jersey,21,14492,1449202,34492,"Raleigh/Durham, NC",NC,37,North Carolina,36,0.0,-1.0,1100-1159,13.0,1201.0,1552.0,4.0,1333,NaN,NaN,NaN,1300-1359,2,1,19.133333

In [260]:
df[['FlightDate','Airline','ArrDelay']].sort_values('ArrDelay', ascending=False)\
    .reset_index(drop=True)

         FlightDate                 Airline  ArrDelay
0        2022-05-23       Republic Airlines    7232.0
1        2022-06-18               Envoy Air    5324.0
2        2022-05-16       Republic Airlines    4318.0
3        2022-06-05  American Airlines Inc.    2977.0
4        2022-03-26  American Airlines Inc.    2934.0
...             ...                     ...       ...
4078313  2022-03-31       Republic Airlines       NaN
4078314  2022-03-31       Republic Airlines       NaN
4078315  2022-03-17       Republic Airlines       NaN
4078316  2022-03-25       Republic Airlines       NaN
4078317  2022-03-07       Republic Airlines       NaN

[4078318 rows x 3 columns]

In [262]:
df[['FlightDate','Airline','ArrDelay']].isna()

         FlightDate  Airline  ArrDelay
0             False    False     False
1             False    False     False
2             False    False     False
3             False    False     False
4             False    False     False
...             ...      ...       ...
4078313       False    False      True
4078314       False    False      True
4078315       False    False     False
4078316       False    False      True
4078317       False    False      True

[4078318 rows x 3 columns]

In [264]:
df[['FlightDate','Airline','ArrDelay']].isna().sum()

FlightDate         0
Airline            0
ArrDelay      133402
dtype: int64

In [266]:
df[['FlightDate','Airline','ArrDelay']].dropna()

         FlightDate                                    Airline  ArrDelay
0        2022-04-04  Commutair Aka Champlain Enterprises, Inc.     -17.0
1        2022-04-04  Commutair Aka Champlain Enterprises, Inc.      -1.0
2        2022-04-04  Commutair Aka Champlain Enterprises, Inc.      -3.0
3        2022-04-04  Commutair Aka Champlain Enterprises, Inc.     -18.0
4        2022-04-04  Commutair Aka Champlain Enterprises, Inc.       6.0
...             ...                                        ...       ...
4078308  2022-03-31                          Republic Airlines     207.0
4078309  2022-03-31                          Republic Airlines     201.0
4078310  2022-03-31                          Republic Airlines     180.0
4078312  2022-03-19                          Republic Airlines     135.0
4078315  2022-03-08                          Republic Airlines     381.0

[3944916 rows x 3 columns]

In [11]:
df[['FlightDate','Airline','ArrDelay']].dropna(subset=['Airline'])

         FlightDate                                    Airline  ArrDelay
0        2022-04-04  Commutair Aka Champlain Enterprises, Inc.     -17.0
1        2022-04-04  Commutair Aka Champlain Enterprises, Inc.      -1.0
2        2022-04-04  Commutair Aka Champlain Enterprises, Inc.      -3.0
3        2022-04-04  Commutair Aka Champlain Enterprises, Inc.     -18.0
4        2022-04-04  Commutair Aka Champlain Enterprises, Inc.       6.0
...             ...                                        ...       ...
4078313  2022-03-31                          Republic Airlines       NaN
4078314  2022-03-17                          Republic Airlines       NaN
4078315  2022-03-08                          Republic Airlines     381.0
4078316  2022-03-25                          Republic Airlines       NaN
4078317  2022-03-07                          Republic Airlines       NaN

[4078318 rows x 3 columns]

In [13]:
df[['FlightDate','Airline','ArrDelay']].fillna(-44)

         FlightDate                                    Airline  ArrDelay
0        2022-04-04  Commutair Aka Champlain Enterprises, Inc.     -17.0
1        2022-04-04  Commutair Aka Champlain Enterprises, Inc.      -1.0
2        2022-04-04  Commutair Aka Champlain Enterprises, Inc.      -3.0
3        2022-04-04  Commutair Aka Champlain Enterprises, Inc.     -18.0
4        2022-04-04  Commutair Aka Champlain Enterprises, Inc.       6.0
...             ...                                        ...       ...
4078313  2022-03-31                          Republic Airlines     -44.0
4078314  2022-03-17                          Republic Airlines     -44.0
4078315  2022-03-08                          Republic Airlines     381.0
4078316  2022-03-25                          Republic Airlines     -44.0
4078317  2022-03-07                          Republic Airlines     -44.0

[4078318 rows x 3 columns]

In [15]:
df['ArrDelay'].fillna(df['ArrDelay'].mean())

0          -17.000000
1           -1.000000
2           -3.000000
3          -18.000000
4            6.000000
              ...
4078313      7.528486
4078314      7.528486
4078315    381.000000
4078316      7.528486
4078317      7.528486
Name: ArrDelay, Length: 4078318, dtype: float64

In [19]:
df1 = df.query('Airline == "Republic Airlines"').copy()
df2 = df.query('Airline == "Commutair Aka Champlain Enterprises, Inc."').copy()

In [25]:
df_stack = pd.concat([df1,df2])
df_stack.head(3)

,Unnamed: 0,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
115119,115119,2022-04-02,Republic Airlines,ALB,MIA,False,False,729,724.0,0.0,-5.0,1048.0,0.0,182.0,206.0,204.0,1225.0,2022,2,4,2,6,AA,AA_CODESHARE,19805,AA,4500,YX,20452,YX,N449YX,4500,10257,1025702,30257,"Albany, NY",NY,36,New York,22,13303,1330303,32467,"Miami, FL",FL,12,Florida,33,0.0,-1.0,0700-0759,16.0,740.0,1042.0,6.0,1055,-7.0,0.0,-1.0,1000-1059,5,0
115120,115120,2022-04-01,Republic Airlines,DCA,PWM,False,False,1900,1852.0,0.0,-8.0,2026.0,0.0,78.0,99.0,94.0,482.0,2022,2,4,1,5,AA,AA_CODESHARE,19805,AA,4500,YX,20452,YX,N441YX,4500,11278,1127805,30852,"Washington, DC",VA,51,Virginia,38,14321,1432105,34321,"Portland, ME",ME,23,Maine,12,0.0,-1.0,1900-1959,13.0,1905.0,2023.0,3.0,2039,-13.0,0.0,-1.0,2000-2059,2,0
115121,115121,2022-04-03,Republic Airlines,DCA,PWM,False,False,1900,1851.0,0.0,-9.0,2036.0,0.0,78.0,99.0,105.0,482.0,2022,2,4,3,7,AA,AA_CODESHARE,19805,AA,4500,YX,20452,YX,N102HQ,4500,11278,1127805,30852,"Washington, DC",VA,51,Virginia,38,14321,1432105,34321,"Portland, ME",ME,23,Maine,12,0.0,-1.0,1900-1959,24.0,1915.0,2033.0,3.0,2039,-3.0,0.0,-1.0,2000-2059,2,0

In [31]:
df1 = df1.reset_index(drop=True)
df2 = df2.reset_index(drop=True)

df_side = pd.concat([df1,df2], axis=1)
df_side.head(2)

,Unnamed: 0,FlightDate,Airline,Origin,Dest,Cancelled,Diverted,CRSDepTime,DepTime,DepDelayMinutes,DepDelay,ArrTime,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,...,ArrDelayMinutes,AirTime,CRSElapsedTime,ActualElapsedTime,Distance,Year,Quarter,Month,DayofMonth,DayOfWeek,Marketing_Airline_Network,Operated_or_Branded_Code_Share_Partners,DOT_ID_Marketing_Airline,IATA_Code_Marketing_Airline,Flight_Number_Marketing_Airline,Operating_Airline,DOT_ID_Operating_Airline,IATA_Code_Operating_Airline,Tail_Number,Flight_Number_Operating_Airline,OriginAirportID,OriginAirportSeqID,OriginCityMarketID,OriginCityName,OriginState,OriginStateFips,OriginStateName,OriginWac,DestAirportID,DestAirportSeqID,DestCityMarketID,DestCityName,DestState,DestStateFips,DestStateName,DestWac,DepDel15,DepartureDelayGroups,DepTimeBlk,TaxiOut,WheelsOff,WheelsOn,TaxiIn,CRSArrTime,ArrDelay,ArrDel15,ArrivalDelayGroups,ArrTimeBlk,DistanceGroup,DivAirportLandings
0,115119,2022-04-02,Republic Airlines,ALB,MIA,False,False,729,724.0,0.0,-5.0,1048.0,0.0,182.0,206.0,204.0,1225.0,2022,2,4,2,6,AA,AA_CODESHARE,19805,AA,4500,YX,20452,YX,N449YX,4500,10257,1025702,30257,"Albany, NY",NY,36,New York,22,13303,1330303,32467,"Miami, FL",FL,12,Florida,33,0.0,-1.0,...,0.0,40.0,72.0,65.0,212.0,2022.0,2.0,4.0,4.0,1.0,UA,UA_CODESHARE,19977.0,UA,4301.0,C5,20445.0,C5,N21144,4301.0,11921.0,1192102.0,31921.0,"Grand Junction, CO",CO,8.0,Colorado,82.0,11292.0,1129202.0,30325.0,"Denver, CO",CO,8.0,Colorado,82.0,0.0,-1.0,1100-1159,17.0,1140.0,1220.0,8.0,1245.0,-17.0,0.0,-2.0,1200-1259,1.0,0.0
1,115120,2022-04-01,Republic Airlines,DCA,PWM,False,False,1900,1852.0,0.0,-8.0,2026.0,0.0,78.0,99.0,94.0,482.0,2022,2,4,1,5,AA,AA_CODESHARE,19805,AA,4500,YX,20452,YX,N441YX,4500,11278,1127805,30852,"Washington, DC",VA,51,Virginia,38,14321,1432105,34321,"Portland, ME",ME,23,Maine,12,0.0,-1.0,...,0.0,55.0,77.0,80.0,295.0,2022.0,2.0,4.0,4.0,1.0,UA,UA_CODESHARE,19977.0,UA,4299.0,C5,20445.0,C5,N16170,4299.0,12206.0,1220605.0,32206.0,"Harlingen/San Benito, TX",TX,48.0,Texas,74.0,12266.0,1226603.0,31453.0,"Houston, TX",TX,48.0,Texas,74.0,0.0,-1.0,0700-0759,16.0,744.0,839.0,9.0,849.0,-1.0,0.0,-1.0,0800-0859,2.0,0.0

In [33]:
df1.shape, df2.shape, df_stack.shape, df_side.shape

((197881, 62), (44367, 62), (242248, 62), (197881, 124))

In [35]:
df_side['Origin']

       Origin Origin
0         ALB    GJT
1         DCA    HRL
2         DCA    DRO
3         DCA    IAH
4         JFK    DRO
...       ...    ...
197876    MSY    NaN
197877    CLT    NaN
197878    ALB    NaN
197879    EWR    NaN
197880    EWR    NaN

[197881 rows x 2 columns]

In [37]:
df1 = df.groupby(['Airline', 'FlightDate'])[['DepDelay']].mean().reset_index()
df2 = df.groupby(['Airline', 'FlightDate'])[['ArrDelay']].mean().reset_index()

In [39]:
df2

                          Airline  FlightDate   ArrDelay
0     Air Wisconsin Airlines Corp  2022-01-01   5.717949
1     Air Wisconsin Airlines Corp  2022-01-02  36.641176
2     Air Wisconsin Airlines Corp  2022-01-03  36.525316
3     Air Wisconsin Airlines Corp  2022-01-04  -5.842391
4     Air Wisconsin Airlines Corp  2022-01-05  20.250000
...                           ...         ...        ...
4447        United Air Lines Inc.  2022-07-27   4.912778
4448        United Air Lines Inc.  2022-07-28   6.640288
4449        United Air Lines Inc.  2022-07-29   4.629425
4450        United Air Lines Inc.  2022-07-30  -4.716889
4451        United Air Lines Inc.  2022-07-31   4.626857

[4452 rows x 3 columns]

In [41]:
df1.merge(df2)

                          Airline  FlightDate   DepDelay   ArrDelay
0     Air Wisconsin Airlines Corp  2022-01-01   8.784810   5.717949
1     Air Wisconsin Airlines Corp  2022-01-02  41.766082  36.641176
2     Air Wisconsin Airlines Corp  2022-01-03  46.183544  36.525316
3     Air Wisconsin Airlines Corp  2022-01-04   6.141304  -5.842391
4     Air Wisconsin Airlines Corp  2022-01-05  20.532967  20.250000
...                           ...         ...        ...        ...
4447        United Air Lines Inc.  2022-07-27  12.064677   4.912778
4448        United Air Lines Inc.  2022-07-28  14.437948   6.640288
4449        United Air Lines Inc.  2022-07-29  11.029185   4.629425
4450        United Air Lines Inc.  2022-07-30   6.192961  -4.716889
4451        United Air Lines Inc.  2022-07-31  12.688534   4.626857

[4452 rows x 4 columns]

In [43]:
df1.merge(df2, how='outer')

                          Airline  FlightDate   DepDelay   ArrDelay
0     Air Wisconsin Airlines Corp  2022-01-01   8.784810   5.717949
1     Air Wisconsin Airlines Corp  2022-01-02  41.766082  36.641176
2     Air Wisconsin Airlines Corp  2022-01-03  46.183544  36.525316
3     Air Wisconsin Airlines Corp  2022-01-04   6.141304  -5.842391
4     Air Wisconsin Airlines Corp  2022-01-05  20.532967  20.250000
...                           ...         ...        ...        ...
4447        United Air Lines Inc.  2022-07-27  12.064677   4.912778
4448        United Air Lines Inc.  2022-07-28  14.437948   6.640288
4449        United Air Lines Inc.  2022-07-29  11.029185   4.629425
4450        United Air Lines Inc.  2022-07-30   6.192961  -4.716889
4451        United Air Lines Inc.  2022-07-31  12.688534   4.626857

[4452 rows x 4 columns]

In [45]:
df1.merge(df2, how='right')

                          Airline  FlightDate   DepDelay   ArrDelay
0     Air Wisconsin Airlines Corp  2022-01-01   8.784810   5.717949
1     Air Wisconsin Airlines Corp  2022-01-02  41.766082  36.641176
2     Air Wisconsin Airlines Corp  2022-01-03  46.183544  36.525316
3     Air Wisconsin Airlines Corp  2022-01-04   6.141304  -5.842391
4     Air Wisconsin Airlines Corp  2022-01-05  20.532967  20.250000
...                           ...         ...        ...        ...
4447        United Air Lines Inc.  2022-07-27  12.064677   4.912778
4448        United Air Lines Inc.  2022-07-28  14.437948   6.640288
4449        United Air Lines Inc.  2022-07-29  11.029185   4.629425
4450        United Air Lines Inc.  2022-07-30   6.192961  -4.716889
4451        United Air Lines Inc.  2022-07-31  12.688534   4.626857

[4452 rows x 4 columns]

In [47]:
pd.merge(df1,df2, on=['Airline'])

,Airline,FlightDate_x,DepDelay,FlightDate_y,ArrDelay
0,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-01,5.717949
1,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-02,36.641176
2,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-03,36.525316
3,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-04,-5.842391
4,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-05,20.250000
...,...,...,...,...,...
943819,United Air Lines Inc.,2022-07-31,12.688534,2022-07-27,4.912778
943820,United Air Lines Inc.,2022-07-31,12.688534,2022-07-28,6.640288
943821,United Air Lines Inc.,2022-07-31,12.688534,2022-07-29,4.629425
943822,United Air Lines Inc.,2022-07-31,12.688534,2022-07-30,-4.716889
943823,United Air Lines Inc.,2022-07-31,12.688534,2022-07-31,4.626857

In [49]:
pd.merge(df1,df2, on=['Airline'],suffixes=('_dep','_arr'))

,Airline,FlightDate_dep,DepDelay,FlightDate_arr,ArrDelay
0,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-01,5.717949
1,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-02,36.641176
2,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-03,36.525316
3,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-04,-5.842391
4,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-05,20.250000
...,...,...,...,...,...
943819,United Air Lines Inc.,2022-07-31,12.688534,2022-07-27,4.912778
943820,United Air Lines Inc.,2022-07-31,12.688534,2022-07-28,6.640288
943821,United Air Lines Inc.,2022-07-31,12.688534,2022-07-29,4.629425
943822,United Air Lines Inc.,2022-07-31,12.688534,2022-07-30,-4.716889
943823,United Air Lines Inc.,2022-07-31,12.688534,2022-07-31,4.626857

In [51]:
pd.merge(df1,df2, on=['Airline','FlightDate'])

                          Airline  FlightDate   DepDelay   ArrDelay
0     Air Wisconsin Airlines Corp  2022-01-01   8.784810   5.717949
1     Air Wisconsin Airlines Corp  2022-01-02  41.766082  36.641176
2     Air Wisconsin Airlines Corp  2022-01-03  46.183544  36.525316
3     Air Wisconsin Airlines Corp  2022-01-04   6.141304  -5.842391
4     Air Wisconsin Airlines Corp  2022-01-05  20.532967  20.250000
...                           ...         ...        ...        ...
4447        United Air Lines Inc.  2022-07-27  12.064677   4.912778
4448        United Air Lines Inc.  2022-07-28  14.437948   6.640288
4449        United Air Lines Inc.  2022-07-29  11.029185   4.629425
4450        United Air Lines Inc.  2022-07-30   6.192961  -4.716889
4451        United Air Lines Inc.  2022-07-31  12.688534   4.626857

[4452 rows x 4 columns]

In [53]:
pd.merge(df1, df2, left_on=['Airline'], right_on=['Airline'])

,Airline,FlightDate_x,DepDelay,FlightDate_y,ArrDelay
0,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-01,5.717949
1,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-02,36.641176
2,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-03,36.525316
3,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-04,-5.842391
4,Air Wisconsin Airlines Corp,2022-01-01,8.784810,2022-01-05,20.250000
...,...,...,...,...,...
943819,United Air Lines Inc.,2022-07-31,12.688534,2022-07-27,4.912778
943820,United Air Lines Inc.,2022-07-31,12.688534,2022-07-28,6.640288
943821,United Air Lines Inc.,2022-07-31,12.688534,2022-07-29,4.629425
943822,United Air Lines Inc.,2022-07-31,12.688534,2022-07-30,-4.716889
943823,United Air Lines Inc.,2022-07-31,12.688534,2022-07-31,4.626857